<div class="content" style="margin: 9px 80px;">
  <div class="row">
    <div class="col-12">
      <!--<div class=" card card-chart">
        <div class=" card-header">
        </div>
        <div class=" card-body">
        </div>
      </div>
    --></div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card1" style="width: 15rem;">
        <img
          class="card-img-top"
          src="/assets/img/wz-social-share.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <p class="card-text">{{game.descricao}}</p>
          <a href="/notifications" class="btn btn-danger">FRYTAR </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card1" style="width: 15rem;">
        <img
          class="card-img-top"
          src="/assets/img/red.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">GAME</h5>
          <p class="card-text">contexto</p>
          <a
            href="/notifications/notifications.component.html"
            class="btn btn-danger"
            >FRYTAR
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card1" style="width: 15rem;">
        <img
          class="card-img-top"
          src="/assets/img/wz-social-share.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">GAME</h5>
          <p class="card-text">contexto</p>
          <a href="/notifications" class="btn btn-danger">FRYTAR </a>
        </div>
      </div>
    </div>

    <div class="row"></div>
  </div>
</div>
