<div class="content" style="margin: 9px 80px;">
  <div class="row">
    <div class="col-lg-4" *ngFor="let game of games">
      <div class="card1" style="width: 15rem;">
        <img
          class="card-img-top"
          src="/assets/img/wz-social-share.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ game.nome }}</h5>
          <p class="card-text">{{ game.descricao }}</p>
          <a href="/notifications" class="btn btn-danger">FRYTAR </a>
        </div>
      </div>
    </div>
  </div>
</div>
